-var root = '/2/1/';
section
  h1 Intégration web FTW

section
  h2 Les débuts du WWW
  ul
    li.fragment 1989 (~25ans)
    li.fragment Créé par Tim Berners-Lee
    li.fragment
      a(href='http://info.cern.ch/hypertext/WWW/TheProject.html') Première page web
    li.fragment Internet existe déjà depuis 40ans! (fin des années 50)
    img.fragment(src=root+'premier-site-web.jpg',alt='Capture du premier site web')

section
  h2 Le WWW
  ul
    li.fragment Repose sur:
      ul
        li.fragment Nom de domaine (DNS)
        li.fragment URLs (protocole HTTP)
        li.fragment Langage HTML

section
  h2 Le WWW, 25 ans après
  ul
    li.fragment Repose sur:
      ul
        li Nom de domaine (DNS)
        li URLs (protocole HTTP)
        li Langage HTML
    li.fragment Et quelques fioritures:
      ul
        li.fragment Images (1993)
        li.fragment JavaScript (1995)
        li.fragment CSS (1996)
        li.fragment etc.
    li.fragment Rien a changé techniquement, et pourtant on est loin des débuts!

section
  h2 Facebook
  a(href='http://facebook.com')
    img(src=root+'facebook.jpg')

section
  h2 Google Maps
  a(href='http://maps.google.fr')
    img(src=root+'google-maps.jpg')

section
  h2 Google Docs
  a(href='http://docs.google.fr')
    img(src=root+'google-docs.jpg')

section
  h2 Webmail (gmail)
  a(href='http://gmail.com')
    img(src=root+'gmail.jpg')

section
  h2 GitHub
  a(href='http://github.com')
    img(src=root+'github.jpg')

section
  h2 Le web, techniquement...
  ul
    li.fragment Nom de domaine (DNS: Domain Name System)
      img.fragment.current-visible.overlay(src=root+'dns.gif')
    li.fragment URIs (protocole HTTP)
      img.fragment.current-visible.overlay(src=root+'url.jpg')
    li.fragment Langages client
      img.fragment.current-visible.overlay(src=root+'html.jpg')
      img.fragment.current-visible.overlay(src=root+'css.jpg')
      img.fragment.current-visible.overlay(src=root+'js.jpg')
      ul
        li.fragment HTML, CSS, JavaScript
    li.fragment Langages Serveur
      ul
        li.fragment PHP, JAVA, .Net, JavaScript (Node.js)

section
  h2 HTML
  ul
    li.fragment HyperText Markup Language
    li.fragment Langage à balises de données hypertextes
    li.fragment Définit:
      ul
        li.fragment le contenu de la page (textes, images, vidéos, etc)
        li.fragment la sémantique de ces éléments
        li.fragment la structure
        li.fragment les liens entre les ressources

section
  h2 CSS
  ul
    li.fragment Cascading Style Sheets
    li.fragment Feuilles de styles en cascade
    li.fragment Définit:
      ul
        li.fragment le rendu visuel des documents XML
        li.fragment un peu d'interactivité visuelle

section
  h2 JavaScript
  ul
    li.fragment Langage de programmation de script
    li.fragment A ne confondre avec JAVA
    li.fragment Utilisé pour
      ul
        li.fragment interactivité des pages
        li.fragment interagir avec le DOM
        li.fragment logique applicative

section
  h2 Aucune différence de techno
  ul
    li.fragment Site web vitrine
    li.fragment Site e-commerce
    li.fragment Site applicatif
    li.fragment Mais également:
      ul
        li.fragment Certaines applications mobiles
        li.fragment Certaines applications natives

section
  h2 Mais alors, quelles différences?
  ul
    li.fragment Architectures

section
  h2 Architecture classique
  ul
    li.fragment Le client fait des requêtes synchrones au serveur
    li.fragment Le serveur web:
      ul
        li.fragment récupère les données stockées (ressources, BDD)
        li.fragment traite les données
        li.fragment répond au client
    li.fragment Le client affiche les données
    img.fragment.current-visible.overlay(src=root+'archi1.jpg')

section
  h2 Architecture moderne
  ul
    li.fragment AJAX (Asynchronous JavaScript And XML)
    li.fragment Le client:
      ul
        li.fragment fait des requêtes asynchrones au serveur
        li.fragment récupère et traite ces informations
        li.fragment modifie la page avec le résultat
    li.fragment → Le socle des applications riches (RIA)
    img.fragment.current-visible.overlay(src=root+'archi2.jpg')

section
  h2 Application riche
  ul
    li.fragment En plus, le client:
      ul
        li.fragment traite les données
        li.fragment stocke les données
        li.fragment affiche / modifie le résultat
        li.fragment communique avec d'autres clients
        li.fragment accède au système
        li.fragment etc

section
  h2 Welcome HTML5!
  img.fragment.current-visible.overlay.overlay--noborder(src=root+'html5.png')

section
  h2 HTML5
  ul
    li.fragment Successeur de 
      a(href='http://www.w3.org/TR/1999/REC-html401-19991224/') HTML4
    li.fragment XHTML entre les 2
      ul
        li.fragment reformulation de HTML4 en XML
    li.fragment Sous l'impulsion du 
      a(href='http://www.whatwg.org/') WHATWG
    li.fragment HTML5: 
      a(href='http://www.w3.org/TR/html5/single-page.html') une bonne grosse doc'

section
  h2 HTML5
  ul
    li.fragment HTML5 = HTML + API JavaScript 
      span.fragment (+ CSS3)
    li.fragment 
      a(href='http://www.w3.org/html/logo/#the-technology-top') Présentation de HTML5 par W3C
    li.fragment Buzzword!


