-var root = '/2/1/';
section
  h1 Intégration web FTW

section
  h2 Les débuts du WWW
  ul
    li.fragment 1989 (~25ans)
    li.fragment Créé par Tim Berners-Lee
    li.fragment
      a(href='http://info.cern.ch/hypertext/WWW/TheProject.html') Première page web
    li.fragment Internet existe déjà depuis 40ans! (fin des années 50)
    img.fragment(src=root+'premier-site-web.jpg',alt='Capture du premier site web')

section
  h2 Le WWW
  ul
    li.fragment Repose sur:
      ul
        li.fragment Nom de domaine (DNS)
        li.fragment URLs (protocole HTTP)
        li.fragment Langage HTML

section
  h2 Le WWW, 25 ans après
  ul
    li.fragment Repose sur:
      ul
        li Nom de domaine (DNS)
        li URLs (protocole HTTP)
        li Langage HTML
    li.fragment Et quelques fioritures:
      ul
        li.fragment Images (1993)
        li.fragment JavaScript (1995)
        li.fragment CSS (1996)
        li.fragment etc.
    li.fragment Rien a changé techniquement, et pourtant on est loin des débuts!

section
  h2 Facebook
  a(href='http://facebook.com')
    img(src=root+'facebook.jpg')

section
  h2 Google Maps
  a(href='http://maps.google.fr')
    img(src=root+'google-maps.jpg')

section
  h2 Google Docs
  a(href='http://docs.google.fr')
    img(src=root+'google-docs.jpg')

section
  h2 Webmail (gmail)
  a(href='http://gmail.com')
    img(src=root+'gmail.jpg')

section
  h2 GitHub
  a(href='http://github.com')
    img(src=root+'github.jpg')
