section
  h1 Intégration web FTW

section
  h2 Intégrer, c'est quoi?
  ul
    li.fragment Transposer les maquettes graphiques en pages web, en assemblant tous les éléments (textes, images, sons, etc.) dans le respect des normes et des standards.
    li.fragment Métiers liés: développeur web, architecte web, (webmaster)

section
  h2 Rappels...

section
  h2 Les débuts du WWW
  ul
    li.fragment 1989 (~25ans)
    li.fragment Créé par Tim Berners-Lee
    li.fragment
      a(href='http://info.cern.ch/hypertext/WWW/TheProject.html') Première page web
    li.fragment Internet existe déjà depuis 60ans! (fin des années 50)
    +img('premier-site-web.jpg')

section
  h2 Le WWW en 1989
  ul
    li.fragment Repose sur:
      ul
        li.fragment Nom de domaine (DNS)
        li.fragment URLs (protocole HTTP)
        li.fragment Langage HTML

section
  h2 Le WWW, 25 ans après
  ul
    li.fragment Repose sur:
      ul
        li Nom de domaine (DNS)
        li URLs (protocole HTTP)
        li Langage HTML
    li.fragment Et quelques fioritures:
      ul
        li.fragment Images (1993)
        li.fragment JavaScript (1995)
        li.fragment CSS (1996)
        li.fragment etc.

section
  h2 Techniquement...
  ul
    li.fragment Nom de domaine (DNS: Domain Name System)
      +img('dns.gif')
    li.fragment URIs (protocole HTTP)
      +img('url.jpg')
    li.fragment Langages client
      +img('html.jpg')
      +img('css.jpg')
      +img('js.jpg')
      ul
        li.fragment HTML, CSS, JavaScript
    li.fragment Langages Serveur
      ul
        li.fragment PHP, JAVA, .Net, JavaScript (Node.js)

section
  h2 HTML
  ul
    li.fragment HyperText Markup Language
    li.fragment Langage à balises de données hypertextes
    li.fragment Définit:
      ul
        li.fragment le contenu de la page (textes, images, vidéos, etc)
        li.fragment la sémantique de ces éléments
        li.fragment la structure
        li.fragment les liens entre les ressources
    li.fragment Doit permettre l'accessibilité des données

section
  h2 CSS
  ul
    li.fragment Cascading Style Sheets
    li.fragment Feuilles de styles en cascade
    li.fragment Définit:
      ul
        li.fragment le rendu visuel des documents XML
        li.fragment un peu d'interactivité visuelle

section
  h2 JavaScript
  ul
    li.fragment Langage de programmation de script
    li.fragment A ne confondre avec JAVA
    li.fragment Utilisé pour
      ul
        li.fragment interactivité des pages
        li.fragment interagir avec le DOM
        li.fragment logique applicative

section
  h2 3 langages = 3 pôles
  p.fragment Séparation des tâches
  ul
    li.fragment Contenu
    li.fragment Mise en forme
    li.fragment Intéractivité

section
  h2 Hands-on!

section
  h2 Aucune différence de techno
  ul
    li.fragment Site web vitrine
    li.fragment Site e-commerce
    li.fragment Site applicatif
    li.fragment Mais également:
      ul
        li.fragment Certaines applications mobiles
        li.fragment Certaines applications natives
    li.fragment Rien a changé techniquement, et pourtant on est loin des débuts!

section
  h2 Facebook
  a(href='http://facebook.com')
    img(src=root+'facebook.jpg')

section
  h2 Google Maps
  a(href='http://maps.google.fr')
    img(src=root+'google-maps.jpg')

section
  h2 Google Docs
  a(href='http://docs.google.fr')
    img(src=root+'google-docs.jpg')

section
  h2 Webmail (gmail)
  a(href='http://gmail.com')
    img(src=root+'gmail.jpg')

section
  h2 GitHub
  a(href='http://github.com')
    img(src=root+'github.jpg')

section
  h2 Architectures
  ul
    li.fragment Sites techniquement identiques (client)
    li.fragment Acquisition / Traitement / Stockage des données différents

section
  h2 Architecture classique
  ul
    li.fragment Le client fait des requêtes synchrones au serveur
    li.fragment Le serveur web:
      ul
        li.fragment récupère les données stockées (ressources, BDD)
        li.fragment traite les données
        li.fragment répond au client
    li.fragment Le client affiche les données
    +img('archi1.jpg')

section
  h2 Architecture moderne
  ul
    li.fragment AJAX (Asynchronous JavaScript And XML)
    li.fragment Le client:
      ul
        li.fragment fait des requêtes asynchrones au serveur
        li.fragment récupère et traite ces informations
        li.fragment modifie la page avec le résultat
    li.fragment → Le socle des applications riches (RIA)
    +img('archi2.jpg')

section
  h2 Application riche
  ul
    li.fragment En plus, le client:
      ul
        li.fragment traite les données
        li.fragment stocke les données
        li.fragment affiche / modifie le résultat
        li.fragment communique avec d'autres clients
        li.fragment accède au système
        li.fragment etc
    li.fragment Le serveur:
      ul
        li.fragment peut pusher des infos au client (temps-réel)

section
  h2 Welcome HTML5!
  +img('html5.png')(class="overlay--noborder")

section
  h2 HTML5, petite histoire
  ul
    li.fragment 1999: 
      a(href='http://www.w3.org/TR/1999/REC-html401-19991224/') HTML4
      |  par le W3C
    li.fragment 2000-2007: W3C travaille sur XHTML
      ul
        li.fragment reformulation de HTML4 en XML
    li.fragment 2004: Création du 
      a(href='http://www.whatwg.org/') WHATWG
      ul
        li.fragment travaille sur un nouveau standard: HTML5
    li.fragment 2007: W3C adopte HTML5 sous l'impulsion du WHATWG
    li.fragment Depuis:
      ul
        li.fragment W3C abandonne XHTML2
        li.fragment HTML5 s'est imposé

section
  h2 HTML5
  ul
    li.fragment Buzzword!
    li.fragment HTML5 = 
      span.fragment HTML 
      span.fragment + API JavaScript 
      span.fragment + CSS3
    li.fragment HTML5: 
      a(href='http://www.w3.org/TR/html5/single-page.html') une bonne grosse doc'
    li.fragment 
      a(href='http://www.w3.org/html/logo/#the-technology-top') Présentation de HTML5 par W3C
    li.fragment Permet la création d'application riches!




















//- HTML5

section.language-markup

  section
    h1 HTML5: HTML!

  section
    h2 HTML, quoi de neuf?
    ul
      li.fragment Simplifie la création de documents web
      li.fragment Ajout de sémantique
      li.fragment Meilleurs formulaires
      li.fragment Améliore l'accessibilité des données

  section
    h2 Structure / règles simplifiées
    ul
      li.fragment XML moins strict
      li.fragment Moins de balises et d'attributs obligatoires
      li.fragment Attributs booléens sans valeur, autorisé
    pre.fragment
      code.
        &lt;input type="checkox" checked>
        &lt;p contenteditable>Texte éditable&lt;/p>
    ul
      li.fragment Un élément inline peut contenir des éléments blocs
    pre.fragment
      code.
        &lt;a href="#">
          &lt;h4>Titre&lt;/h4>
          &lt;p>Texte&lt;/p>
        &lt;/a>
    ul
      li.fragment Et d'autres...

  section
    h2 Doctype XHTML1
    pre.fragment(style='word-break: break-word'): code &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    h2.fragment Doctype HTML5
    pre.fragment
      code.
        &lt;!doctype html>
    ul
      li.fragment Plus de versions
      li.fragment Rétro-compatible
      li.fragment Toujours indispensable

  section
    h2 Structure simplifiée
    p.fragment Document valide HTML5
    pre.fragment
      code.
        &lt;!doctype html>
        &lt;html lang="fr">
          &lt;head>
            &lt;meta charset="utf-8">
            &lt;title>Titre&lt;/title>
          &lt;/head>
          &lt;body>
            &lt;p>Contenu&lt;/p>
          &lt;/body>
        &lt;/html>

  section
    h2 Nouveaux éléments
    ul
      li.fragment Nouvelles balises sémantiques
      li.fragment Limite les 
        code &lt;div id="">
        ul
          li.fragment
            code section
            |, 
            code main
            |, 
            code article
          li.fragment
            code header
            |, 
            code footer
          li.fragment
            code nav
          li.fragment
            code aside
          li.fragment
            code figure
            |, 
            code figcaption
          li.fragment
            code time
    +img('html5-elements.jpg')

  section
    h2 Nouveaux éléments
    ul
      li.fragment Nouvelles balises applicatives:
        ul
          li.fragment
            code progress
            |, 
            code meter
            +img('progress.png')
          li.fragment
            code menu
            |, 
            code command
          li.fragment
            code keygen

  section
    h2 Nouveaux formulaires
    ul
      li.fragment Meilleure intégration dans les apps
      li.fragment Aide l'utilisateur, notamment sur mobile
        +img('mobile-forms.jpg')
      li.fragment Pré-validation client inclue
        +img('html5-forms-validation.png')
    ul
      li.fragment Nouveaux 
        code &lt;input type="..."/>
        ul
          li.fragment
            code number
          li.fragment
            code email
            |, 
            code tel
            |, 
            code url
          li.fragment
            code date
            |, 
            code time
            |, 
            code datetime-local
          li.fragment
            code range
          li.fragment
            code color
    ul
      li.fragment Nouveaux attributs:
        ul
          li.fragment
            code placeholder
            |, 
            code autofocus
    ul
      li.fragment Moins besoin de JavaScript
      li.fragment
        a(href='http://codylindley.com/native.html') Native HTML forms

  section
    h2 Attributs personnalisés
    ul
      li.fragment Stockage de données dans le DOM
      li.fragment 
        code data-attributes
        |, 
        code data-*
    pre.fragment
      code.
        &lt;div data-info="8">&lt;/div>

  section
    h2 ARIA
    ul
      li.fragment Accessible Rich Internet Applications
      li.fragment Rendre des composants accessibles
      li.fragment Ajoute de la sémantique
    pre.fragment.language-markup
      code.
        &lt;ol role="tablist">
          &lt;li id="ch1Tab" role="tab">Chapter 1&lt;/li>
          &lt;li id="ch2Tab" role="tab">Chapter 2&lt;/li>
        &lt;/ol>

        &lt;div>
          &lt;div id="ch1Panel" role="tabpanel" aria-labelledby="ch1Tab">Chapter 1 content&lt;/div>
          &lt;div id="ch2Panel" role="tabpanel" aria-labelledby="ch1Tab">Chapter 2 content&lt;/div>
        &lt;/div>


  section
    h2 Nouvelles fonctionnalités multimédias
    ul
      li.fragment Sons 
        code &lt;audio>
      li.fragment Vidéos 
        code &lt;video>
    ul
      li.fragment Plus de dépendance
      li.fragment Avant, utilisation de Adobe Flash
    +img2('video-html5.jpg')




















//- CSS

section

  section
    h1 HTML5: CSS!

  section
    h2 CSS3
    ul
      li.fragment Combo gagnant avec HTML5
      li.fragment Suite logique du langage CSS

  section
    h2 CSS3, petite histoire
    ul
      li.fragment 1996: CSS1
        ul
          li.fragment Sélecteurs simples, positionnements basiques, tailles, marges, couleurs, polices, etc.
      li.fragment 1998: CSS2
        ul
          li.fragment Abandonnée, car trop complexe
      li.fragment 2011: 
        a(href='http://www.w3.org/TR/CSS2/') CSS2.1
        ul
          li.fragment Version corrigée de CSS2
      li.fragment Depuis 1999: CSS3
        ul
          li.fragment Standard fragmenté en modules
          li.fragment Environ 50!
      li.fragment CSS4 ne verra jamais le jour

  section
    h2 Modules CSS3
    ul
      li.fragment
        a(href='http://www.w3.org/Style/CSS/current-work') Current work W3C
      li.fragment Chaque module a sa propre vie
      li.fragment Chaque module a sa propre version:
        ul
          li.fragment Sélecteurs Niveau 3, Niveau 4
          li.fragment Masques Niveau 1
      li.fragment Plusieurs modules déjà en recommandation

  section
    h2 Sélecteurs CSS3
    ul
      li.fragment Premier 
        a(href='http://www.w3.org/TR/selectors/') module 
        |  en Recommandation
      li.fragment Sélecteurs étoffés: 50+ sélecteurs, pseudo-classes, pseudo-éléments
      li.fragment Ciblage précis des éléments
        +img('selecteurs.jpg')
      li.fragment Limite les 
        code class
        |  ou 
        code id
    ul
      li.fragment Sélecteurs d'état de formulaires
        +img('selecteurs-forms.png')
    ul
      li.fragment
        a(href='http://tools.css3.info/selectors-test/test.html') Selectors Test

  section
    h2 Effets graphiques
    ul
      li.fragment Ombres, transparence, couleurs, arrondis, etc.
      li.fragment Simplication de nombreux effets
      li.fragment Limiter le nombre d'images
      li.fragment Maintenance plus facile

  section
    h2 Coins arrondis
    pre.fragment.language-css
      code.
        .e {
          border-radius: 10px;
        }
    ul
      li.fragment Crée des coins arrondis
      li.fragment Limite les images
      li.fragment Simplifie le HTML et le CSS

  section
    h2 Opacité et transparence
    pre.fragment.language-css
      code.
        .e {
          opacity: 0.5;
        }
    ul
      li.fragment Rends un élément transparent
    pre.fragment.language-css
      code.
        .e {
          color: rgba(235, 162, 53, .5);
        }
    ul
      li.fragment Applique une couleur transparente
    +img('opacite.jpg')

  section
    h2 Ombres
    pre.fragment.language-css
      code.
        .e {
          text-shadow: 2px 2px 5px black;
        }
    ul
      li.fragment Ajoute des ombres sur texte
    +img('ombres.jpg')
    pre.fragment.language-css
      code.
        .e {
          box-shadow: 2px 2px 5px (5px) black (inset);
        }
    ul
      li.fragment Ajoute des ombres sur boites
    +img('ombres3.jpg')

  section
    h2 Dégradés
    pre.fragment.language-css
      code.
        .e {
          background: linear-gradient(to left, red, green);
        }
    ul
      li.fragment Dégradés linéaires ou radiaux
      li.fragment Simplifie grandement l'usage d'images
    +img('degrades.jpg')
    ul
      li.fragment
        a(href='http://www.css3create.com/Menu-sans-images') Menu sans images
      li.fragment
        a(href='http://slides.html5rocks.com/#logo-demo') Web 2.0 Logo Creatr

  section
    h2 Arrières-plans
    ul
      li.fragment Taille, origin, rognage
      li.fragment -size, -origin, -clip
    ul
      li.fragment Arrière-plans étirables
    pre.fragment
      code.
        .e {
          background-image: url('img.jpg');
          background-size: cover;
        }

  section
    h2 Positionnement
    ul
      li.fragment Nouveaux modes de positionnements
      li.fragment Flexbox!
    pre.fragment
      code.
        .e {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
        }
        .e-item {
          flex: 1;
        }

  section
    h2 Transitions / Animations
    ul
      li.fragment
        b Transitions
        |: animer d'un état A à B
    pre.fragment.language-css
      code.
        .e {
          width: 100px;
          transition: width 2s;
        }
        .e:hover {
          width: 200px;
        }
    ul
      li.fragment
        a(href='http://www.css3create.com/Navigation-a-onglets-fluides-avec-les-transitions-CSS') Menu avec transitions

  section
    h2 Transitions / Animations
    ul
      li.fragment
        b Animations
        |: animer plusieurs états
    pre.fragment.language-css
      code.
        .e {
          animation: taille 1s 2 alternate;
        }
        @keyframes taille {
          from { width: 100px }
          50%  { width: 300px }
          to   { width: 200px }
        }
    ul
      li.fragment
        a(href='http://www.css3create.com/Slider-Galerie-photos-en-CSS3') Carroussel galerie photo
      li.fragment
        a(href='http://www.css3create.com/Animation-effet-bounce-en-CSS') Effet de rebond

  section
    h2 Webfonts
    ul
      li.fragment Polices personnalisées
    pre.fragment.language-css
      code.
        @font-face {
          font-family: 'myFont';
          src: url(myFont.woff);
        }
        h1 {
          font-family: myFont;
        }
    +img('font-face.jpg')
    ul
      li.fragment
        a(href='https://www.google.com/fonts') Google WebFonts
        |  et d'autres

  section
    h2 Transformations
    pre.fragment.language-css
      code.
        .e {
          transform: rotate(45deg) scale(.5);
        }
    ul
      li.fragment Transforme un élément dans l'espace
      li.fragment Animable!

  section
    h2 Transformations 3D
    pre.fragment.language-css
      code.
        .e {
          transform: rotateY(45deg) rotateX(15deg);
        }
    ul
      li.fragment Transforme en 3D
      li.fragment Animable!
      li.fragment
        a(href='http://www.css3create.com/Flip-card-avec-les-transformations-3D-CSS') Flip-card
      li.fragment
        a(href='http://www.css3create.com/Effet-coverflow-en-full-CSS') Effet coverflow 3D
      li.fragment
        a(href='http://iamthecu.be/') Rubik's cube

  section
    h2 Filtres
    pre.fragment.language-css
      code.
        .e {
          filter: blur(2px) grayscale(1);
        }
    ul
      li.fragment Processing sur les éléments
      li.fragment Animable!
      li.fragment
        a(href='http://www.css3create.com/Effets-de-survol-avec-transitions-et-filtres-CSS') Galerie photo

  section
    h2 Media-queries
    ul
      li.fragment
        a(href='http://www.w3.org/TR/CSS2/media.html') Media
        |  depuis CSS2
      li.fragment CSS3: Requête de média
      li.fragment Adapter en fonction de critères
    pre.fragment.language-css
      code.
        @media (max-width: 400px) {
          .e {
            background: yellow;
          }
        }

  section
    h2 Responsive Web Design!
    +img('responsive.png')
    ul
      li.fragment Philosophie de développement
      li.fragment
        a(href='http://mediaqueri.es') Showcase mediaqueri.es




















//- API JavaScript

section

  section
    h1 HTML5: API JavaScript!

  section
    h2 De nombreuses API...
    ul
      li.fragment Interactions avancées
      li.fragment Stockage
      li.fragment Accès système

  section
    h2 Native drag and drop
    ul
      li.fragment Attribut 
        code draggable
      li.fragment Nouveaux évènements
      li.fragment
        a(href='http://html5demos.com/drag') Drag&Drop demo

  section
    h2 Géolocalisation
    ul
      li.fragment Coordonnées géographiques de l'utilisateur
        ul
          li.fragment Basé sur IP
          li.fragment Basé sur puce GPS
    pre.fragment.language-js
      code.
        navigator.geolocation.getCurrentPosition(function(position) {
          console.log(position.coords.latitude, position.coords.longitude);
        });
    ul
      li.fragment
        a(href='http://html5demos.com/geo') Géolocalisation démo

  section
    h2 Device Orientation
    ul
      li.fragment Position du device dans l'espace
        ul
          li.fragment Angles alpha, beta, gamma
    pre.fragment.language-js
      code.
        window.addEventListener('deviceorientation', function(event) {
          var a = event.alpha; // autour de Z
          var b = event.beta; // autour de X
          var g = event.gamma; // autour de Y
        }, false);
    +img('device-axes.png')
    ul
      li.fragment
        a(href='http://www.html5rocks.com/en/tutorials/device/orientation/deviceorientationsample.html') Démo

  section
    h2 Web Storage
    ul
      li.fragment
        code localStorage
        |, 
        code sessionStorage
      li.fragment Stockage persistent dans le navigateur (seulement pour la session pour sessionStorage)
      li.fragment Clé / valeur simples
    pre.fragment.language-js
      code.
        localStorage.setItem('value', value);
        localStorage.getItem('value');
    ul
      li.fragment
        a(href='http://demos.w3avenue.com/html5-unleashed-tips-tricks-and-techniques/sample-10-localstorage-demo.html') Démo

  section
    h2 IndexedDB
    ul
      li.fragment Stockage persistent dans le navigateur
      li.fragment Base de données indexée
      li.fragment Clé / valeur complexes
    ul
      li.fragment
        a(href="http://www.html5rocks.com/en/tutorials/indexeddb/todo/") Démo

  section
    h2 Appcache
    ul
      li.fragment Cache Manifest
      li.fragment Gestion précise du cache
    pre.fragment.language-markup
      code.
        &lt;html manifest="cache.appcache">
    pre.fragment.language-text
      code.
        CACHE MANIFEST
        # version 1.0.0

        CACHE:
        /html5/src/logic.js
        /html5/src/style.css
        /html5/src/background.png

        NETWORK:
        *
    ul
      li.fragment Permet mode offline sous conditions

  section
    h2 File API (desktop drag in, drag out)
    ul
      li.fragment Manipulation de fichiers coté client
      li.fragment Drag & Drop depuis le système
      li.fragment
        a(href='http://html5demos.com/file-api') Démo

  section
    h2 WebWorkers
    ul
      li.fragment Lancer des scripts en parallèle
      li.fragment Threads
      li.fragment Performance
    ul
      li.fragment
        a(href="http://afshinm.github.io/50k/") Démo

  section
    h2 Graphiques
    ul
      li.fragment
        code canvas
        |  pour du dessin matriciel (via JavaScript)
        ul
          li.fragment
            a(herf='http://jsbin.com/yayec/8/edit') Démo simple
          li.fragment
            a(href='http://www.craftymind.com/factory/html5video/CanvasVideo.html') Video Explosion
          li.fragment
            a(href='http://pablotheflamingo.com/') Pablo The Flamingo
      li.fragment SVG inline pour du dessin vectoriel
        ul
          li.fragment
            a(href='http://html5demos.com/svg-clock') Démo simple
          li.fragment
            a(href='http://snapsvg.io/demos/#coffee') Coffee Maker
      li.fragment WebGL (canvas 3D)
        ul
          li.fragment
            a(href='http://kostar111.github.io/rando3D/demo/v1.2') Randonnée 3D
          li.fragment
            a(href='http://race.assassinscreedpirates.com/') Assassin's Creed Pirates

  section
    h2 WebSockets
    ul
      li.fragment Communication full-duplex, bi-directionnelle
      li.fragment Le serveur et le client peuvent envoyer des données
      li.fragment Web temps-réel!
      li.fragment
        a(href='http://mrdoob.com/projects/multiuserpad/') Pad multiutilisateur
      li.fragment
        a(href='http://vladimir.sh/lab/bird') Flappy Bird temps-réel multijoueur

section
  h2 Environnement client
  ul
    li.fragment
      strong Graphique
      ul
        li.fragment Canvas (WebGL), SVG, CSS, RWD, etc.
    li.fragment
      strong Contenu
      ul
        li.fragment Elements d'UI, Offline, AppCache, History, etc.
    li.fragment
      strong Données
      ul
        li.fragment IndexedDB, WebStorage, WebSockets, WebRTC, etc.
    li.fragment
      strong Système
      ul
        li.fragment Géolocalisation, FileAPI, Battery, SMS, etc.

section
  h2 Applications
  ul
    li.fragment Création d'application Full HTML5
    li.fragment Applications mobiles
    li.fragment Et même, des OS!

section
  h2 Applications mobiles
  p.fragment Développement natif
  ul
    li.fragment iOS (Objective C, Swing)
    li.fragment Android (JAVA)
    li.fragment Windows Phone (C#)
  p.fragment Développement hybride
  ul
    li.fragment
      a(href='http://phonegap.com/') PhoneGap
    li.fragment 
      a(href='http://www.sencha.com/products/touch/') Sencha Touch
    li.fragment
      a(href='http://jquerymobile.com/') jQuery Mobile
  p.fragment Développement mobile (HTML5/JS)
  ul
    li.fragment Windows Phone & Windows
    li.fragment Firefox OS
    li.fragment Tizen

















































