section
  h1 Intégration web FTW

section
  h2 Intégrer, c'est quoi?
  ul
    li Transposer les maquettes graphiques en pages web, en assemblant tous les éléments (textes, images, sons, etc.) dans le respect des standards, des normes et de l'accessibilité.
    li Métiers liés: Intégrateur, Développeur web, Développeur front, Architecte web, Développeur Full-stack, Designer front, etc.

section
  h2 Rappels...

section
  h2 Les débuts du WWW
  ul
    li 1989 (~25ans)
    li Créé par Tim Berners-Lee
    li
      a(href='http://info.cern.ch/hypertext/WWW/TheProject.html') Première page web
    li Internet existe déjà depuis 60ans! (fin des années 50)
    +img('premier-site-web.jpg')

section
  h2 Le WWW en 1989
  ul
    li Repose sur:
      ul
        li Nom de domaine (DNS)
        li URLs (protocole HTTP)
        li Langage HTML

section
  h2 Le WWW, 25 ans après
  ul
    li Repose sur:
      ul
        li Nom de domaine (DNS)
        li URLs (protocole HTTP)
        li Langage HTML
    li Et quelques fioritures:
      ul
        li Images (1993)
        li JavaScript (1995)
        li CSS (1996)
        li etc.

section
  h2 Techniquement...
  ul
    li Nom de domaine (DNS: Domain Name System)
      +img('dns.gif')
    li URIs (protocole HTTP)
      +img('url.jpg')
    li Langages client
      +img('html.jpg')
      +img('css.jpg')
      +img('js.jpg')
      ul
        li HTML, CSS, JavaScript
    li Langages Serveur
      ul
        li PHP, JAVA, .Net, JavaScript (Node.js)

section
  h2 HTML
  ul
    li HyperText Markup Language
    li Langage à balises de données hypertextes
    li Définit:
      ul
        li le contenu de la page (textes, images, vidéos, etc)
        li la sémantique de ces éléments
        li la structure
        li les liens entre les ressources
    li Doit permettre l'accessibilité des données

section
  h2 CSS
  ul
    li Cascading Style Sheets
    li Feuilles de styles en cascade
    li Définit:
      ul
        li le rendu visuel des documents XML
        li un peu d'interactivité visuelle

section
  h2 JavaScript
  ul
    li Langage de programmation de script
    li A ne pas confondre avec JAVA
    li Utilisé pour
      ul
        li interactivité des pages
        li interagir avec le DOM
        li logique applicative

section
  h2 3 langages = 3 pôles
  p Séparation des tâches
  ul
    li Contenu
    li Mise en forme
    li Intéractivité

section
  h2 Hands-on!

section
  h2 Aucune différence de techno
  ul
    li Site web vitrine
    li Site e-commerce
    li Site applicatif
    li Mais également:
      ul
        li Certaines applications mobiles
        li Certaines applications natives
    li Rien a changé techniquement, et pourtant on est loin des débuts!

section
  h2 Facebook
  a(href='http://facebook.com')
    img(src=root+'facebook.jpg')

section
  h2 Google Maps
  a(href='http://maps.google.fr')
    img(src=root+'google-maps.jpg')

section
  h2 Google Docs
  a(href='http://docs.google.fr')
    img(src=root+'google-docs.jpg')

section
  h2 Webmail (gmail)
  a(href='http://gmail.com')
    img(src=root+'gmail.jpg')

section
  h2 GitHub
  a(href='http://github.com')
    img(src=root+'github.jpg')

section
  h2 Architectures
  ul
    li Sites techniquement identiques (client)
    li Acquisition / Traitement / Stockage des données différents

section
  h2 Architecture classique
  ul
    li Le client fait des requêtes synchrones au serveur
    li Le serveur web:
      ul
        li récupère les données stockées (ressources, BDD)
        li traite les données
        li répond au client
    li Le client affiche les données
    +img('archi1.jpg')

section
  h2 Architecture moderne
  ul
    li AJAX (Asynchronous JavaScript And XML)
    li Le client:
      ul
        li fait des requêtes asynchrones au serveur
        li récupère et traite ces informations
        li modifie la page avec le résultat
    li → Le socle des applications riches (RIA)
    +img('archi2.jpg')

section
  h2 Application riche
  ul
    li En plus, le client:
      ul
        li traite les données
        li stocke les données
        li affiche / modifie le résultat
        li communique avec d'autres clients
        li accède au système
        li etc
    li Le serveur:
      ul
        li peut pusher des infos au client (temps-réel)

section
  h2 Welcome HTML5!
  +img('html5.png')(class="overlay--noborder")

section
  h2 HTML5, petite histoire
  ul
    li 1999: 
      a(href='http://www.w3.org/TR/1999/REC-html401-19991224/') HTML4
      |  par le W3C
    li 2000-2007: W3C travaille sur XHTML
      ul
        li reformulation de HTML4 en XML
    li 2004: Création du 
      a(href='http://www.whatwg.org/') WHATWG
      ul
        li travaille sur un nouveau standard: HTML5
    li 2007: W3C adopte HTML5 sous l'impulsion du WHATWG
    li Depuis:
      ul
        li W3C abandonne XHTML2
        li HTML5 s'est imposé

section
  h2 HTML5
  ul
    li Buzzword!
    li HTML5 = 
      span HTML 
      span + API JavaScript 
      span + CSS3
    li HTML5: 
      a(href='http://www.w3.org/TR/html5/single-page.html') une bonne grosse doc'
    li 
      a(href='http://www.w3.org/html/logo/#the-technology-top') Présentation de HTML5 par W3C
    li Permet la création d'application riches!




















//- HTML5

section.language-markup

  section
    h1 HTML5: HTML!

  section
    h2 HTML, quoi de neuf?
    ul
      li Simplifie la création de documents web
      li Ajout de sémantique
      li Meilleurs formulaires
      li Améliore l'accessibilité des données

  section
    h2 Structure / règles simplifiées
    ul
      li XML moins strict
      li Moins de balises et d'attributs obligatoires
      li Attributs booléens sans valeur, autorisé
    pre
      code.
        &lt;input type="checkbox" checked>
        &lt;p contenteditable>Texte éditable&lt;/p>
    ul
      li Un élément inline peut contenir des éléments blocs
    pre
      code.
        &lt;a href="#">
          &lt;h4>Titre&lt;/h4>
          &lt;p>Texte&lt;/p>
        &lt;/a>
    ul
      li Et d'autres...

  section
    h2 Doctype XHTML1
    pre(style='word-break: break-word'): code &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    h2 Doctype HTML5
    pre
      code.
        &lt;!doctype html>
    ul
      li Plus de versions
      li Rétro-compatible
      li Toujours indispensable

  section
    h2 Structure simplifiée
    p Document valide HTML5
    pre
      code.
        &lt;!doctype html>
        &lt;html lang="fr">
          &lt;head>
            &lt;meta charset="utf-8">
            &lt;title>Titre&lt;/title>
          &lt;/head>
          &lt;body>
            &lt;p>Contenu&lt;/p>
          &lt;/body>
        &lt;/html>

  section
    h2 Nouveaux éléments
    ul
      li Nouvelles balises sémantiques
      li Limite les 
        code &lt;div id="">
        ul
          li
            code section
            |, 
            code main
            |, 
            code article
          li
            code header
            |, 
            code footer
          li
            code nav
          li
            code aside
          li
            code figure
            |, 
            code figcaption
          li
            code time
    +img('html5-elements.jpg')

  section
    h2 Nouveaux éléments
    ul
      li Nouvelles balises applicatives:
        ul
          li
            code progress
            |, 
            code meter
            +img('progress.png')
          li
            code menu
            |, 
            code command
          li
            code keygen

  section
    h2 Nouveaux formulaires
    ul
      li Meilleure intégration dans les apps
      li Aide l'utilisateur, notamment sur mobile
        +img('mobile-forms.jpg')
    ul
      li Nouveaux 
        code &lt;input type="..."/>
        ul
          li
            code number
          li
            code email
            |, 
            code tel
            |, 
            code url
          li
            code date
            |, 
            code time
            |, 
            code datetime-local
          li
            code range
          li
            code color
      li Pré-validation client inclue
        +img('html5-forms-validation.png')

  section
    h2 Nouveaux formulaires
    ul
      li Nouveaux attributs:
        ul
          li
            code placeholder
            |, 
            code autofocus
    ul
      li Moins besoin de JavaScript
      li
        a(href='http://codylindley.com/native.html') Native HTML forms

  section
    h2 Attributs personnalisés
    ul
      li Stockage de données dans le DOM
      li 
        code data-attributes
        |, 
        code data-*
    pre
      code.
        &lt;div data-info="8">&lt;/div>

  section
    h2 ARIA
    ul
      li Accessible Rich Internet Applications
      li Rendre des composants accessibles
      li Ajoute de la sémantique
    pre.language-markup
      code.
        &lt;ol role="tablist">
          &lt;li id="ch1Tab" role="tab">Chapter 1&lt;/li>
          &lt;li id="ch2Tab" role="tab">Chapter 2&lt;/li>
        &lt;/ol>

        &lt;div>
          &lt;div id="ch1Panel" role="tabpanel" aria-labelledby="ch1Tab">Chapter 1 content&lt;/div>
          &lt;div id="ch2Panel" role="tabpanel" aria-labelledby="ch1Tab">Chapter 2 content&lt;/div>
        &lt;/div>
    ul
      li
        a(href="http://www.oaa-accessibility.org/examples/") ARIA exemples


  section
    h2 Nouvelles fonctionnalités multimédias
    ul
      li Sons 
        code &lt;audio>
      li Vidéos 
        code &lt;video>
    ul
      li Plus de dépendance
      li Avant, utilisation de Adobe Flash
    +img2('video-html5.jpg')




















//- CSS

section.language-css

  section
    h1 HTML5: CSS!

  section
    h2 CSS3
    ul
      li Combo gagnant avec HTML5
      li Suite logique du langage CSS

  section
    h2 CSS3, petite histoire
    ul
      li 1996: CSS1
        ul
          li Sélecteurs simples, positionnements basiques, tailles, marges, couleurs, polices, etc.
      li 1998: CSS2
        ul
          li Abandonnée, car trop complexe
      li 2011: 
        a(href='http://www.w3.org/TR/CSS2/') CSS2.1
        ul
          li Version corrigée de CSS2
      li Depuis 1999: CSS3
        ul
          li Standard fragmenté en modules
          li Environ 50!
      li CSS4 ne verra jamais le jour

  section
    h2 Modules CSS3
    ul
      li
        a(href='http://www.w3.org/Style/CSS/current-work') Current work W3C
      li Chaque module a sa propre vie
      li Chaque module a sa propre version:
        ul
          li Sélecteurs Niveau 3, Niveau 4
          li Masques Niveau 1
      li Plusieurs modules déjà en recommandation

  section
    h2 Sélecteurs CSS3
    ul
      li Premier 
        a(href='http://www.w3.org/TR/selectors/') module 
        |  en Recommandation
      li Sélecteurs étoffés: 50+ sélecteurs, pseudo-classes, pseudo-éléments
      li Ciblage précis des éléments
        +img('selecteurs.jpg')
      li Limite les 
        code class
        |  ou 
        code id
    ul
      li Sélecteurs d'état de formulaires
        +img('selecteurs-forms.png')
    ul
      li
        a(href='http://tools.css3.info/selectors-test/test.html') Selectors Test

  section
    h2 Effets graphiques
    ul
      li Ombres, transparence, couleurs, arrondis, etc.
      li Simplication de nombreux effets
      li Limiter le nombre d'images
      li Maintenance plus facile

  section
    h2 Coins arrondis
    pre.language-css
      code.
        .e {
          border-radius: 10px;
        }
    ul
      li Crée des coins arrondis
      li Limite les images
      li Simplifie le HTML et le CSS

  section
    h2 Opacité et transparence
    pre.language-css
      code.
        .e {
          opacity: 0.5;
        }
    ul
      li Rends un élément transparent
    pre.language-css
      code.
        .e {
          color: rgba(235, 162, 53, .5);
        }
    ul
      li Applique une couleur transparente
    +img('opacite.jpg')

  section
    h2 Ombres
    pre.language-css
      code.
        .e {
          text-shadow: 2px 2px 5px black;
        }
    ul
      li Ajoute des ombres sur texte
    +img('ombres.jpg')
    pre.language-css
      code.
        .e {
          box-shadow: 2px 2px 5px (5px) black (inset);
        }
    ul
      li Ajoute des ombres sur boites
    +img('ombres3.jpg')

  section
    h2 Dégradés
    pre.language-css
      code.
        .e {
          background: linear-gradient(to left, red, green);
        }
    ul
      li Dégradés linéaires ou radiaux
      li Simplifie grandement l'usage d'images
    +img('degrades.jpg')
    ul
      li
        a(href='http://www.css3create.com/Menu-sans-images') Menu sans images
      li
        a(href='http://slides.html5rocks.com/#logo-demo') Web 2.0 Logo Creatr

  section
    h2 Arrières-plans
    ul
      li Taille, origin, rognage
      li <code>-size</code>, <code>-origin</code>, <code>-clip</code>
    ul
      li Arrière-plans étirables
    pre
      code.
        .e {
          background-image: url('img.jpg');
          background-size: cover;
        }

  section
    h2 Positionnement
    ul
      li Nouveaux modes de positionnements
      li Flexbox!
    pre
      code.
        .e {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
        }
        .e-item {
          flex: 1;
        }

  section
    h2 Transitions / Animations
    ul
      li
        b Transitions
        |: animer d'un état A à B
    pre.language-css
      code.
        .e {
          width: 100px;
          transition: width 2s;
        }
        .e:hover {
          width: 200px;
        }
    ul
      li
        a(href='http://www.css3create.com/Navigation-a-onglets-fluides-avec-les-transitions-CSS') Menu avec transitions

  section
    h2 Transitions / Animations
    ul
      li
        b Animations
        |: animer plusieurs états
    pre.language-css
      code.
        .e {
          animation: taille 1s 2 alternate;
        }
        @keyframes taille {
          from { width: 100px }
          50%  { width: 300px }
          to   { width: 200px }
        }
    ul
      li
        a(href='http://www.css3create.com/Slider-Galerie-photos-en-CSS3') Carroussel galerie photo
      li
        a(href='http://www.css3create.com/Animation-effet-bounce-en-CSS') Effet de rebond

  section
    h2 Webfonts
    ul
      li Polices personnalisées
    pre.language-css
      code.
        @font-face {
          font-family: 'myFont';
          src: url(myFont.woff);
        }
        h1 {
          font-family: myFont;
        }
    +img('font-face.jpg')
    ul
      li
        a(href='https://www.google.com/fonts') Google WebFonts
        |  et d'autres

  section
    h2 Transformations
    pre.language-css
      code.
        .e {
          transform: rotate(45deg) scale(.5);
        }
    ul
      li Transforme un élément dans l'espace
      li Animable!

  section
    h2 Transformations 3D
    pre.language-css
      code.
        .e {
          transform: rotateY(45deg) rotateX(15deg);
        }
    ul
      li Transforme en 3D
      li Animable!
      li
        a(href='http://www.css3create.com/Flip-card-avec-les-transformations-3D-CSS') Flip-card
      li
        a(href='http://www.css3create.com/Effet-coverflow-en-full-CSS') Effet coverflow 3D
      li
        a(href='http://iamthecu.be/') Rubik's cube

  section
    h2 Filtres
    pre.language-css
      code.
        .e {
          filter: blur(2px) grayscale(1);
        }
    ul
      li Processing sur les éléments
      li Animable!
      li
        a(href='http://www.css3create.com/Effets-de-survol-avec-transitions-et-filtres-CSS') Galerie photo
      li
        a(href='http://iamvdo.me/blog/filtres-css-avances') Filtres avancés
  section
    h2 Media-queries
    ul
      li
        a(href='http://www.w3.org/TR/CSS2/media.html') Media
        |  depuis CSS2
      li CSS3: Requête de média
      li Adapter en fonction de critères
    pre.language-css
      code.
        @media (max-width: 400px) {
          .e {
            background: yellow;
          }
        }

  section
    h2 Responsive Web Design!
    +img('responsive.png')
    ul
      li Philosophie de développement
      li Mobile First
      li
        a(href='http://mediaqueri.es') Showcase mediaqueri.es
      li Adaptive Design




















//- API JavaScript

section.language-javascript

  section
    h1 HTML5: API JavaScript!

  section
    h2 De nombreuses API...
    ul
      li Interactions avancées
      li Stockage
      li Accès système
      li etc.

  section
    h2 Native drag and drop
    ul
      li Attribut 
        code draggable
      li Nouveaux évènements
      li
        a(href='http://html5demos.com/drag') Drag&Drop demo

  section
    h2 Géolocalisation
    ul
      li Coordonnées géographiques de l'utilisateur
        ul
          li Basé sur IP
          li Basé sur puce GPS
    pre
      code.
        navigator.geolocation.getCurrentPosition(function(position) {
          console.log(position.coords.latitude, position.coords.longitude);
        });
    ul
      li
        a(href='https://developers.google.com/maps/documentation/javascript/examples/map-geolocation') Géolocalisation démo

  section
    h2 Device Orientation
    ul
      li Position du device dans l'espace
        ul
          li Angles alpha, beta, gamma
    pre
      code.
        window.addEventListener('deviceorientation', function(event) {
          var a = event.alpha; // autour de Z
          var b = event.beta; // autour de X
          var g = event.gamma; // autour de Y
        }, false);
    +img('device-axes.png')

  section
    h2 Web Storage
    ul
      li
        code localStorage
        |, 
        code sessionStorage
      li Stockage persistent dans le navigateur (seulement pour la session pour sessionStorage)
      li Clé / valeur simples
    pre
      code.
        localStorage.setItem('value', value);
        localStorage.getItem('value');
    ul
      li
        a(href='http://demos.w3avenue.com/html5-unleashed-tips-tricks-and-techniques/sample-10-localstorage-demo.html') Démo

  section
    h2 IndexedDB
    ul
      li Stockage persistent dans le navigateur
      li Base de données indexée
      li Clé / valeur complexes
    ul
      li
        a(href="http://jsfiddle.net/unclelongmao/VrS32/") Démo

  section
    h2 File API (desktop drag in, drag out)
    ul
      li Manipulation de fichiers coté client
      li Drag & Drop depuis le système
      li
        a(href='http://html5demos.com/file-api') Démo

  section
    h2 WebWorkers
    ul
      li Lancer des scripts en parallèle
      li Threads
      li Performance
    ul
      li
        a(href="http://afshinm.github.io/50k/") Démo

  section
    h2 Offline
    ul
      li Mode déconnecté
      li Philosophie Offline first

  section
    h2 Offline: Service Workers
    ul
      li Proxy programmable entre le navigateur et le réseau
      li Permet:
        ul
          li Expérience offline
          li Intercepter les requêtes
          li Gérer les assets
          li Gérer le cache
          li etc.
      li Architecture future!
      li Adapté aux SPA (Single Page App)
      li
        a(href='https://pwa.rocks') Progressive Web Apps

  section
    h2 Graphiques
    ul
      li
        code canvas
        |  pour du dessin matriciel (via JavaScript)
        ul
          li
            a(href='http://jsbin.com/yayec/8/edit') Démo simple
          li
            a(href='http://www.craftymind.com/factory/html5video/CanvasVideo.html') Video Explosion
      li SVG inline pour du dessin vectoriel
        ul
          li
            a(href='http://html5demos.com/svg-clock') Démo simple
          li
            a(href='http://snapsvg.io/demos/#coffee') Coffee Maker
      li WebGL (canvas 3D)
        ul
          li
            a(href='http://celian-garcia.github.io/rando3D/demo/v1.3/') Randonnée 3D
          li
            a(href='http://pablotheflamingo.com/') Pablo The Flamingo
          li
            a(href='http://flightarcade.com/') Flight Arcade
          li
            a(href='https://aframe.io/') WebVR

  section
    h2 WebSockets
    ul
      li Communication full-duplex, bi-directionnelle
      li Le serveur et le client peuvent envoyer des données
      li Web temps-réel!
      li
        a(href='https://protected-hollows-7891.herokuapp.com/') () Flappy Bird temps-réel multijoueur (http://goo.gl/n22xll)

section
  h2 Environnement client
  ul
    li
      strong Graphique
      ul
        li Canvas (WebGL), SVG, CSS, RWD, etc.
    li
      strong Contenu
      ul
        li Elements d'UI, Service Workers: offline/cache, History, etc.
    li
      strong Données
      ul
        li IndexedDB, WebStorage, WebSockets, WebRTC, etc.
    li
      strong Système
      ul
        li Géolocalisation, FileAPI, Battery, SMS, etc.




















//- Mobile

section.language-javascript

  section
    h1 Applications mobiles

  section
    h2 Applications natives
    ul
      li iOS (Objective C, Swift)
      li Android (JAVA)
      li Windows Phone (C#)

  section
    h2 Applications hybrides
    ul
      li Site web mobile
      li Webview + API pour accéder au hardware
      li
        a(href='https://cordova.apache.org/') Cordova
      li
        a(href='http://phonegap.com/') PhoneGap

  section
    h2 Applications hybrides
    ul
      li Dev JS
      li Compiler vers natif
      li
        a(href='https://facebook.github.io/react-native/') ReactNative
      li
        a(href='http://ionicframework.com/') Ionic

  section
    h2 Application HTML5/JS
    ul
      li Windows Phone & Windows
      li
        strike Firefox OS (et même OS)
      li
        strike Tizen

  section
    h2 Progressive Web Apps
    ul
      li Amélioration progressive
      li Service Workers : offline, cache
      li Manifest.json
      li
        a(href='https://pwa.rocks') pwa.rocks












